@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, #99C3BC, white, #CED9C6);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #336655;
    color: white;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
header > h1{
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}
nav{
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    padding: 10px;
}
nav a:hover{
    background-color: white;
    color: #336655;
    transition: .3s;
}
.Climate{
    background-color: #e8f2eb;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    text-align: justify;
}
div > h1{
    margin: 10px;
    color: #336655;
}
.Classes{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    text-align: center;
    color: #336655;
}
.card img{
    max-width: 320px;
    margin-bottom: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.card{
    width: 250px;
    max-width: 320px;
}
h2.card{
    color: darkgreen;
    padding: 20px;
}
.solução{
    background-color: rgb(193, 252, 197);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px 20px 40px 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
img{
    width: 100%;
    padding-top: 30px;
}
.arvore{
    display: block;
    margin: auto;
    max-width: 320px;
}
.teste{
    text-align: justify;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.oquefazer{
    background-color: white;
    color: darkgreen;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 30px;
}
button > a{
    padding: 10px;
    background-color: #57927e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
button{
    padding: 10px;
    background-color: #57927e;
    color: white;
    border: none;
    border-radius: 5px;
}
saiba:hover{
    transition: 0.3s;
    color: white;
    background-color: #57927e;
}